.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: orangered;
    background-color: lightskyblue;
   
}
.stage-direction:hover{
    background-color: plum;
    color: white;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color:black ;
}
.CELIA{
    color: rgb(161, 12, 37);
}

.ROSALIND{
    color: goldenrod;
}

.TOUCHSTONE{
    color:rgb(90, 6, 6);
}
.table{
    border: pink;
    color: navy;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
td,th{
    padding: 10px;
}
th{
    background-color: palegreen;
    color:salmon;
    font-size: large;
}
tr:nth-child(even){
    background-color: mediumslateblue;
}

tr:nth-child(odd){
    background-color: seagreen;
}

table, th, td {
    border: 2px solid palevioletred;
  }
